.navbar {
  width: 100%;
  height: auto;
  right: 0px;
  background-color: #29323c !important;
  position: relative !important;
}

.position-color {
  top: 0px;
}

.section.is-large {
  padding: 0rem !important;
}

.navbar-burger {
  color:white !important;
}

.navbar-menu h4 {
  font-size: 0.9em;
  font-weight: normal;
}

.container.is-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.color a{
  font-size: 1.2em;
  font-weight: normal;
  color: white;
}

@media only screen and (max-width: 1023px) {
  .navbar-menu {
    padding-top: 0rem !important;
    position: relative;
    z-index: 11;
  }
}

.navbar-menu.is-active {
  animation: contentAnim .4s ease-in-out;
}

@keyframes contentAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}

.leftSide {
  height: 100rem;
  width: 5%;
  left: 0px;
  z-index: 100 !important;
  display: block !important;
  border-top: 2px solid #535558;
}

.buttonUser {
  margin-top: 100%;
  margin-left: 25%;
  width: 50%;
  height: 5%;
  background-color: transparent;
  border:none;
  color: white;
  cursor: pointer;
  font-size: 28px !important;
  outline: none;
}

@media only screen and (max-width: 1023px) {
  .buttonUser {
    font-size: 18px !important;
  }
  .leftSide {
    width: 8%;
  }
}

@media only screen and (max-width: 1153px) {
  .buttonUser {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .buttonUser {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 400px) {
  .buttonUser {
    margin-left: 8%;
  }
}

@media only screen and (max-width: 320px) {
  .leftSide {
    width: 11%;
  }
}

.positionCategory {
  margin-top: 9px;
}