.navbar-end .positionHomeButton {
    position: fixed;
    left: 10px;
}
  
.position-text {
    position:relative;
    display: flex;
    margin: auto;
    padding: 0px 25px;
    color: white;
}

.navbar-link {
    padding: 0px !important;
}

@media only screen and (max-width: 1023px) {
    .color h4{
        font-size: 0.9em;
        font-weight: normal;
    }

    .color.has-text-centered > button {
        border: 2px solid #535558;
        background-color: transparent;
        outline: none;
    }

    .navbar-item.has-dropdown.navbar-link {
        padding: 0rem !important;
        padding-bottom: 10px;
    }

    .navbar-item.has-dropdown {
        padding-bottom: 10px;
    }

    .navbar-link {
        display: initial;
    }

    .navbar-link:not(.is-arrowless)::after {
        position: sticky;
        margin-top: -19px !important;
        margin-left: 90px !important;
    }

    .color {
        background-color: #29323c !important;
        border-top: solid;
        border-top-color: #535558;
        padding: 0 !important;
    }
}

h4 > button {
    background:none;
    border:none;
    margin:0;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    outline: none;
}

h4 button {
    background:none;
    border:none;
    margin:0;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    outline: none;
}
  
  button:hover {
    color: rgb(161, 158, 158);
  }
  
  .displayLanguages {
    display: block !important;
  }
  
  .dontDisplayLanguages {
    display: none !important;
  }

  
.navbar-dropdown {
    background-color: #29323c !important;
    border-top: none !important;
    > button {
        display: table;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        overflow: hidden;
        outline: none;
        border: none;
        width: 100%;
    }
}
  
.navbar-link {
    color: white !important;
    background-color: #29323c !important;
}

.navbar-link:hover {
    color: rgb(161, 158, 158) !important;
}

.languageMargin {
    margin-left: 4px;
}

.navbar-link:not(.is-arrowless)::after {
    position: sticky;
    margin-bottom: 8px;
    margin-left: 12px;
}